@import '../../../../styles/partials/_font';
@import '../../../../styles/variables/_colors';

.search-bar {
  display: flex;
  position: relative;

  &__input {
    input {
      border-radius: 5px;
      padding: 5px 10px;
      border: 1px solid $dim-grey;
    }
  }

  &__button {
    position: absolute;
    right: 0;

    button {
      border-radius: 5px;
      background-color: white;
      border: 1px solid $dim-grey;
    }

    img {
      height: 30px;
      color: white;
    }
  }
}