@import '../../styles/variables/_width';

@media(max-width: $responsive-width-small) {
  .app-header {
    &__title, &__right {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: unset;
    }

    &__right {
      margin-top: 20px;
    }
  }
}